body{
    text-align: center;
    background-color: #CDB699;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 7px;
}
.img{
    background-color: salmon;
    padding: 20px;
    margin: 10px;
    border-radius: 7px;
}
.container{
    text-align: center;
    width: 280px;
    /* border: 2px solid black; */
    margin:  0 auto 0 auto;
    background-color: white;
    padding: 1px;
    border-radius: 8px;
    margin-top: 130px;
}
p{
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color: grey;
  }

h2{
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;    
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.4em;
}



